<div id="app">
	<header>
		<script type="text/javascript">
			// (function( $ ) {
				// $.fn.noemdafuncao = function( nome ) {
					// return this;
				// }; 
			// }) ( jQuery );
// 
// 
// $('#my_div').noemdafuncao();


			$(function() {
				// $("#selected-category, .category, .site").hover(function() {
					// $("#menu-category").css("display", "block");
				// }, function() {
					// $("#menu-category").css("display", "none");
				// });
				
				// $("#selected-site").hover(function() {
					// if ($("#selected-site a").val()) {
// 						
					// }
					// $("#menu-site-animes").css("display", "block");
				// }, function() {
					// $("#menu-site-animes").css("display", "none");
				// });
			});
		</script>
		<nav id="header-menu">
			<div id="selected-category"><a href="#">all</a></div>
			<div id="selected-site"><a>-</a></div>
			
			<ul class="menu-category">
				<% @menu["categories"].each do |category| %>
				<li class="category"><a href="#"><%= category["name"] %></a>
					<ul>
						<% category["sites"].each do |site| %>
							<% if (site != "-") %>
						<li class="site"><a href="#"><%= site %></a></li>
							<% end %>
						<% end %>
					</ul>
				</li>
				<% end %>
			</ul>
			
			
			<!-- <ul class="menu-category">
				<li class="category"><a href="#">all</a></li>
				<li class="category"><a href="#">animes</a>
					<ul id="menu-site-animes">
						<li class="site"><a href="#">site 1</a></li>
						<li class="site"><a href="#">site 2</a></li>
						<li class="site"><a href="#">site 3</a></li>
					</ul>
				</li>
				<li class="category"><a href="#">jogos</a>
					<ul id="menu-site-jogos">
						<li class="site"><a href="#">site 4</a></li>
						<li class="site"><a href="#">site 5</a></li>
					</ul>
				</li>
			</ul> -->
		</nav>
		<div class="reset-menu"></div>
		<!-- <div id="header-search-setting">
			<div id="header-search">
				<form>
					<input type="search" value="search" />
				</form>
			</div>
			<div id="header-setting">
				<form>
					<input type="image" src="setting.png" />
				</form>
			</div>
		</div> -->
	</header>
	
	
	<div id="main">
		<article>
			conteudo post 1
		</article>
		<article>
			conteudo post 2
		</article>
	</div>
	
	
	<footer>
		
	</footer>
</div>