// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark_blue: #00008B;
$medium_blue: #0000CD;
$azure: #F0FFFF;
$font_family: "Comic Sans MS", Cambria, Georgia, serif;

$size_header: 40px;
$size_menu: 120px;

@mixin menu-a {
  color: $azure;
  display: block;
  font-family: $font_family;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 11px;
  padding-top: 11px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;        
}
  
div#background {
  background-color: $dark_blue;
  height: $size_header;
  width: 100%;
}

header#category {
  height: $size_header;
  
  div#selected-category {
    background-color: $dark_blue;
    border: 1px solid $medium_blue;
    float: left;
    width: $size_menu;
    
    a {
      @include menu-a;
    }
  }
  
  div#selected-category:hover {
    background-color: $medium_blue;
    
    ~ ul#menu-category {
      display: block;
    }
  }
  
  div#selected-site {
    background-color: $dark_blue;
    border-bottom: 1px solid $medium_blue;
    border-right: 1px solid $medium_blue;
    border-top: 1px solid $medium_blue;
    float: left;
    width: $size_menu;
    
    a {
      @include menu-a;
    }
  }
  
  div#selected-site:hover {
    background-color: $medium_blue;
  }
  
  ul#menu-category {
    clear: left;
    display: none;
    list-style: none;
    
    li {
      background-color: $dark_blue;
      border-bottom: 1px solid $medium_blue;
      border-left: 1px solid $medium_blue;
      border-right: 1px solid $medium_blue;
      position: relative;
      width: $size_menu;
      
      a {
        @include menu-a;
      }
      
      ul {
        display: none;
        left: $size_menu;
        list-style: none;
        position: absolute;
        top: 0px;
        
        li {
          background-color: $dark_blue;
          border-bottom: 1px solid $medium_blue;
          border-left: 1px solid $medium_blue;
          border-right: 1px solid $medium_blue;
          width: $size_menu;
          
          a {
            @include menu-a;
          }
        }
        
        li:hover {
          background-color: $medium_blue;
        }
      }
    }
    
    li:hover {
      background-color: $medium_blue;
      
      ul {
        display: block;
      }
    }
  }
  
  ul#menu-category:hover {
    display: block;
  }
}

header#setting {
  float: right;
  height: $size_header;
  margin-top: -$size_header;
  
  img {
    background-color: red;
    float: right;
    height: inherit;
    width: $size_header;
  }
  
  img:hover {
    ~ ul#menu-setting {
      display: block;
    }
  }
  
  ul#menu-setting {
    clear: right;
    display: none;
    list-style: none;
    
    li {
      background-color: red;
      border-bottom: 1px solid $medium_blue;
      border-left: 1px solid $medium_blue;
      border-right: 1px solid $medium_blue;
      width: $size_menu;
      
      a {
        @include menu-a;
      }
    }
    
    li:hover {
      background-color: pink;
    }
  }
  
  ul#menu-setting:hover {
    display: block;
  }
}

div#main {
  background: black;
  color: $azure;
  
  article {
    border: 2px solid $azure;
    margin: 0px auto 20px auto;
    padding: 20px;
    width:80%;
  }
}
