// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dark_blue: #00008B;
$medium_blue: #0000CD;
$azure: #F0FFFF;
$font_family: Consolas, Monaco, "Andale Mono", monospace;

$size_header: 40px;
$size_menu: 120px;

@mixin menu-a {
  color: $azure;
  display: block;
  font-family: $font_family;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 11px;
  padding-top: 11px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;        
}

div#category {
  background-color: $dark_blue;
  height: $size_header;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;

  
  div#selected-category {
    background-color: $dark_blue;
    border: 1px solid $medium_blue;
    float: left;
    width: $size_menu;
    
    a {
      @include menu-a;
    }
  }
  
  div#selected-category:hover {
    background-color: $medium_blue;
    
    ~ ul#menu-category {
      display: block;
    }
  }
  
  div#selected-site {
    background-color: $dark_blue;
    border-bottom: 1px solid $medium_blue;
    border-right: 1px solid $medium_blue;
    border-top: 1px solid $medium_blue;
    float: left;
    width: $size_menu;
    
    a {
      @include menu-a;
    }
  }
  
  div#selected-site:hover {
    background-color: $medium_blue;
    
    ~ ul#menu-site {
      display: block;
    }
  }
  
  ul#menu-category {
    clear: left;
    display: none;
    list-style: none;
    
    li {
      background-color: $dark_blue;
      border-bottom: 1px solid $medium_blue;
      border-left: 1px solid $medium_blue;
      border-right: 1px solid $medium_blue;
      position: relative;
      width: $size_menu;
      
      a {
        @include menu-a;
      }
      
      ul {
        display: none;
        left: $size_menu;
        list-style: none;
        position: absolute;
        top: 0px;
        
        li {
          background-color: $dark_blue;
          border-bottom: 1px solid $medium_blue;
          border-left: 1px solid $medium_blue;
          border-right: 1px solid $medium_blue;
          width: $size_menu;
          
          a {
            @include menu-a;
          }
        }
        
        li:hover {
          background-color: $medium_blue;
        }
      }
    }
    
    li:hover {
      background-color: $medium_blue;
      
      ul {
        display: block;
      }
    }
  }
  
  ul#menu-category:hover {
    display: block;
  }
  
  ul#menu-site {
    clear: left;
    display: none;
    list-style: none;
    
    li {
      background-color: $dark_blue;
      border-bottom: 1px solid $medium_blue;
      border-left: 1px solid $medium_blue;
      border-right: 1px solid $medium_blue;
      position: relative;
      left: $size_menu;
      width: $size_menu;
      
      a {
        @include menu-a;
      }
    }
    
    li:hover {
      background-color: $medium_blue;
    }
  }
  
  ul#menu-site:hover {
    display: block;
  }
}

div#setting {
  height: $size_header;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  
  img {
    background-color: red;
    float: right;
    height: inherit;
    width: $size_header;
  }
  
  img:hover {
    ~ ul#menu-setting {
      display: block;
    }
  }
  
  ul#menu-setting {
    clear: right;
    display: none;
    list-style: none;
    
    li {
      background-color: red;
      border-bottom: 1px solid $medium_blue;
      border-left: 1px solid $medium_blue;
      border-right: 1px solid $medium_blue;
      width: $size_menu;
      
      a {
        @include menu-a;
      }
    }
    
    li:hover {
      background-color: pink;
    }
  }
  
  ul#menu-setting:hover {
    display: block;
  }
}

@mixin background-main {
  background-attachment: fixed;
  background-color: silver;
  background-image: 
  radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size: 100px 50px;
  // http://lea.verou.me/css3patterns/#seigaiha
}

@mixin css-feed {
  
  blockquote {
    line-height: 1.7;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;    
  }
}

div#main {
  @include background-main;
  
  article {
    @include css-feed;
    
    background: white;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 0px auto 20px auto;
    display: block;
    padding: 20px;
    width:80%;
  }
}
